@tailwind base;
@tailwind components;
@tailwind utilities;

/*! purgecss start ignore */
@import "prism.css";
/*! purgecss end ignore */
@layer base {
  body {
    @apply duration-300 ease-[cubic-beizer(0.465,0.183,0.153,0.946)] dark:bg-[#1c1c1c] dark:duration-300 dark:ease-[cubic-beizer(0.465,0.183,0.153,0.946)];
  }

  html.lenis {
    height: auto;
  }

  .lenis.lenis-smooth {
    scroll-behavior: auto;
  }

  .lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
  }

  .lenis.lenis-stopped {
    overflow: hidden;
  }

  .lenis.lenis-scrolling iframe {
    pointer-events: none;
  }
}

@layer components {
  .hoverUnderline {
    @apply relative;
  }
  .hoverUnderline::after {
    @apply bg-[#1c1c1c] text-[#1c1c1c] dark:bg-[#f7f7f7] dark:text-[#f7f7f7];
    content: "";
    position: absolute;
    bottom: -4px;
    left: 0;
    width: 100%;
    height: 2px;
    border-radius: 2px;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.35s
      cubic-bezier(0.465, 0.183, 0.153, 0.946);
  }

  .hoverUnderline:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
}
/*Custom Styles Here*/
